* {
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width:1024px){
    #image {
        width: 70%;
    }

    #userRating {
        margin: 0px auto;
        justify-content: center;
    }

    #movie {
        flex-direction: column-reverse;
    }

    #content, #image {
        width: 93%;
        margin: 0px auto;
    }

    #image img{
        height: 420px;
    }

    #content {
        margin-top: 100px;
        text-align: center;
    }

    .slika {
        margin-top: 5%;
    }

}

@media screen and (max-width:992px){
    .film {
        min-height: 650px;
    }

    .slikaFilma {
        min-height: 100px;
    }

    .filmWatchlist {
        width: 100%;
    }

    .slikaWatchlist {
        width: 40%;
    }

    .infoWatchlist {
        width: 55%;
    }

    .infoWatchlist h1, .infoWatchlist p {
        margin-bottom: 20px;
    }

    .remove {
        width: 20%;
    }

    .slajderFilm {
        flex-direction: column;
        height: inherit;
    }

    #content {
        text-align: left;
        margin-top: 40px;
    }

    #image p {
        display: none; 
    }


    .slika {
        width: 100%;
        margin-top: 50px;
    }

    .opisFilma {
        width: 100%;
        margin-top: 50px;
    }

    .opisFilma p:nth-child(3) {
        margin-bottom: 120px;
    }

    .seeMore {
        right: 0;
        bottom: 20;
        width: 23%;
    }

    #userRating {
        margin: 0px;
        justify-content: flex-start;
    }
}

@media screen and (max-width:768px){
    #sredina {
        margin-top: 10px;
    }


    #glavniDeo {
        flex-direction: column;
    }

    #filmovi {
        width: 100%;
    }

    .film {
        width: 45%;
        height: 700px;
        margin-left: 3.3%;
    }


    #sortiranje {
        width: 100%;
        margin-bottom: 90px;
        border-right: none;
        border-bottom: 2px solid #990000;
        border-top: 2px solid #990000;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    #filter {
        width: 20%;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    #zanrovi ul {
        margin-left: 40%;
    }

    #autor {
        display: none;
    }
    

    .slikaWatchlist {
        display: none;
    }

    .infoWatchlist {
        width: 90%;
        margin-top: 10px;
    }

    .infoWatchlist p:nth-child(4) {
        margin-bottom: 100px;
    }

    .remove {
        width: 20%;
    }

    #drzac {
        min-height: 84vh;
    }

    #popup {
        width: 90%;
        min-height: 200px;
        left: 5%;
    }

    .slikaFilma img {
        height: 420px;
    }

    #formaAutor {
        justify-content: center;
        flex-direction: column;
    }

    #autor2 {
        display: block;
        width: 90%;
        margin: 0px auto;
    }

    #autor2 h2, #forma h2 {
        font-size: 45px;
        text-align: center;
        
    }

    #autor2 p {
        font-size: 30px;
        margin-bottom: 30px;
    }

    #autor2 img, #autor2 p {
        margin-top: 20px;
        text-align: center;
    } 

    
    #meni ul{
        display: none;
    }

    #logo {
        display: none;
    }

    #meni2 {
        display: block;
        width: 100%;
    }

    .fa-bars {
        color: #fff;
        font-size: 25px;
        margin-left: 5%;
        margin-top: 3%;
    }

    #lista {
        width: 100%;
        height: 100px;
        background-color: #1a1a1a;
        height: 100vh;
        z-index: 1;
        padding-top: 10%;
    }

    #meni2  ul {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        text-align: center;
    }

    #lista ul li {
        margin-top: 10px;
    }

    #lista ul li a {
        color: #fff;
        font-size: 50px;
    }

    #logo2 {
        width: 80%;
        margin: 0px auto;
        text-align: center;
    }

    #logo2 p {
        font-size: 60px;
    }

    #logo2 i {
        margin-right: 5%;
    }

    #userRating p, #ocenaKorisnika {
        margin-top: 20px!important;
    }

    #ocenaKorisnika {
        margin-left: 5%;
    }

    .fa-times {
        margin-top: 2%;
    }

    #forma {
        width: 90%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:480px){
    .film {
        width: 90%;
        margin-left: 0%;
        margin: 5%;
    }

    #zanrovi ul {
        margin-left: 30%;
    }

    .slikaFilma img {
        height: 480px;
    }

    .filmWatchlist {
        flex-direction: column;
        width: 100%;
    }

    .slikaWatchlist {
        display: block;
    }

    .slikaWatchlist img{
        height: 400px;
    }

    .slikaWatchlist, .infoWatchlist {
        width: 90%;
        margin: 15px auto;
    }

    .infoWatchlist p:nth-child(4){
        margin-bottom: 30px;
    }

    .remove {
        right: 10;
        bottom: 5;
    }

    #tabela {
        width: 90%;
    }

    #prazno h1 {
        font-size: 40px;
        text-align: center;
    }

    #popup {
        min-height: 100px;
    }

    #textModal {
        font-size: 20px;
    }

    #content h1 {
        font-size: 30px;
    }

    #content p {
        font-size: 20px;
    }

    #autor2 h2, #forma h2 {
        font-size: 30px;
        text-align: center;
        
    }

    #autor2 p {
        font-size: 20px;
        margin-bottom: 30px;
    }

    #forma table tr th, #forma table tr td {
        font-size: 20px;
    }

    #logo p{
        font-size: 30px;
    }

    #image img {
        height: 210px;
    }

    #meni {
        height: 45px;
        border-bottom: 1px solid #000000;
    }

    #movie {
        margin-top: 100px;
    }

    #futer p, #futer i{
        font-size: 17px;
    }

    #logo2 p {
        font-size: 35px;
    }

    #lista ul li a{
        font-size: 25px;
    }
}