@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    font-family: 'Gentium Book Basic';
}

h1, h2, p, span, a {
    color: #ffffff;
}

a{
    text-decoration: none;
}

#header {
    width: 100%;
    min-height: 650px;
    border-bottom: 2px solid #990000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#sredina {
    width: 100%;
    margin-top: 50px;
    position: relative;
}


.film {
    width: 17.4%;
    min-height: 630px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 2.1%;
    margin-bottom: 30px;
    position: relative;
}


.informacije {
    margin-top: 15px;
    margin-left: 3%;
    width: 90%;
    min-height: auto;
}

.informacije h3{
    font-size: 26px;
}

.informacije a h3:hover, .infoWatchlist a h1:hover{
    color: #990000;
}

.informacije p {
    font-size: 20px;
    margin-top: 5px;
}

.informacije p:nth-child(2){
    font-size: 18px;
}

.informacije p:nth-child(3){
    margin-bottom: 20px;
    margin-top: 18px;
}

.watchlist {
    margin-left: 37%;
    position: absolute;
    bottom: 2%;
    right: 3%;
    background-color: #ffff;
    border: none;
    width: 42%;
    padding: 2%;
}

.watchlist:hover, #submit:hover {
    background-color: #990000!important;
}


.cleaner {
    clear: both;
}


#meni{
    width: 100%;
    height: 60px;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #000000;
    z-index: 2; 
}

#meni2 {
    display: none;
}


#logo {
    width: 40%;
    text-align: right;
}

#logo p {
    font-size: 35px;
    margin-top: 10px;
    margin-right: 8%;
}

#logo i, #logo2 i {
    margin-right: 2%;
    font-size: 30px;
}

#meni ul {
    width: 30%;
    margin: 1%;
    display: flex;
    justify-content: space-around;
}

#meni ul li {
    display: inline;
}

#meni ul li a {
    color: #ffff;
    font-size: 1.8vw;
}

#meni ul li a:hover, #zanrovi ul li a:hover {
    text-decoration: underline;
}

#slajder {
    width: 90%;
}

.slika {
    width: 65%;
} 

.opisFilma {
    width: 30%;
    position: relative;
}

.opisFilma h1{
    font-size: 42px;
    margin-bottom: 40px;
    text-decoration: underline;
    text-decoration-color: #990000;
}

.opisFilma p {
    font-size: 22px;
    margin-bottom: 35px;
}

img {
    width: 100%;
}

.seeMore{
    position: absolute;
    bottom: 0;
    padding: 2%;
    background-color: #990000;
    border: none;
    width: 40%;
}

.seeMore:hover{
    background-color: #1a1a1a;
    color: #ffffff;
}

.slajderFilm{
    width: 100%;    
    display: flex;
    justify-content: space-around;
}


#glavniDeo {
    width: 100%;
}

#sortiranje {
    width: 30%;
    height: fit-content;
    background-color: #1a1a1a;
    border: 2px solid #990000;
    border-left: none;
    margin-left: -100%;
    position: absolute;
    z-index: 1;
}

.fa-times {
    float: right;
    margin-top: 5%;
    margin-right: 5%;
    color: #ffff;
    font-size: 25px;
}


#filmovi {
    width: 100%;
    margin-top: 50px;
}


#filter {
    width: 10%;
    margin-bottom: 50px;
    padding: 1%;
    background-color: #990000;
}

#filter a {
    font-size: 20px;
}

span {
    position: absolute;
    bottom: 2%;
    left: 3%;
    font-size: 19px;
}

#sortiranje h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}

#searchMovies, #listaZaSortiranje {
    width: 85%;
    padding: 1%;
    margin-top: 20px;
}

#zanrovi, #sortiraj, #search{
    width: 100%;
    text-align: center;
    margin: 0px auto;
    margin-top: 60px;
}

#zanrovi {
    margin-bottom: 80px;
}

#zanrovi {
    text-align: unset;
}

#listaZanrova{
    list-style-type: none;
    padding: 3%;
    margin-left: 37%;
}

#zanrovi ul li{
    color: #ffff;
    font-size: 25px;
}

.slikaFilma {
    width: 100%;
    min-height: 150px;
}

.slikaFilma img:hover, .slikaWatchlist img:hover {
    opacity: 0.7;
}

.slikaFilma img {
    height: 340px;
}

.slikaWatchlist img {
    height: 270px;
}

#movie {
    width: 90%;
    min-height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 140px auto;
}

#image {
    width: 50%;
    margin-left: 3%;
}

#image img {
    height: 370px;
}

#image p {
    font-size: 25px;
    margin-top: 35px;
}

#content {
    width: 30%;
    font-size: 23px;
    position: relative;
}

#content h1 {
    font-size: 45px;
    margin-bottom: 25px;
}

#content p {
    margin-top: 20px;
}

#content a {
    color: #990000;
}

#content p:first-child{
    margin-top: 17%;
}

.fa-star {
    color: yellow;
    margin-right: 2px;
}

#tabela {
    width: 80%;
    margin: 120px auto;
}

table {
    width: 100%;
    background-color: #ffff;
    color: #000;
    border-collapse: collapse;
}

table, tr, td {
    border: 1px solid black;
    padding: 1%;
}

th {
    padding: 1%;
    font-size: 20px;
}

#sortirajWatchlist {
    width: 70%;
    padding: 1%;
}

td {
    position: relative;
}

th:first-child {
    float: left;
    margin-top: 5px;
}

.filmWatchlist {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.infoWatchlist {
    width: 73%;
}

.infoWatchlist h1, .infoWatchlist p {
    color: #000000;
    margin-bottom: 5px;
}

.infoWatchlist p:nth-child(3){
    margin-top: 25px;
    margin-bottom: 25px;
}

.infoWatchlist h1 {
    font-size: 30px;
}

.infoWatchlist p {
    font-size: 20px;
}


.slikaWatchlist {
    width: 20%;
}

.slikaWatchlist img {
    width: 100%;
}

.remove {
    position: absolute;
    right: 3%;
    bottom: 5%;
    width: 18%;
    padding: 0.5%;
}


#prazno {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prazno h1 {
    font-size: 60px;
}

#prazno a {
    color: #ffffff;
    font-size: 30px;
    margin-top: 60px;
    text-decoration: underline;
}

#prazno i {
    margin-right: 10px;
}


#futer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    background-color: #1a1a1a;
    height: 70px;
    margin-top: 50px;
}

#futer ul {
    list-style-type: none;
    margin-right: 3%;
}

#futer ul li  {
    margin-right: 15px;
    display: inline;
}

#futer p {
    margin-left: 3%;
}


#forma {
    width: 90%;
    margin: 100px auto;
}

#forma h2, #autor2 h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}


#forma table {
    width: 100%;
    text-align: center;
}

#drzac {
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
}


#popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 30%;
    top: 40%;
    width: 40%;
    height: 150px; 
    background-color: #ffff;
    text-align: center;
}

#textModal {
    color: black;
    font-size: 30px;
    margin-top: 5%;
}

#ok {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 10%;
    padding: 1%;
}

#autor2{
    width: 45%;
    text-align: center;
    margin: 0px auto;
}

#autor2 h2{
    margin-top: 15%;
}

#autor2 img {
    width: 50%;
    margin-top: 7%;
}

#autor2 p {
    margin-top: 7%;
    font-size: 22px;
}

#formaAutor {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#forma {
    width: 45%;
}

#forma table {
    margin: 20px auto;
    background-color: #000000;
    color: #ffff;
}

#forma table tr {
    border: none;
    text-align: center;
}

#forma table tr th, #forma table tr td {
    width: 100%;
    padding: 0px;
    margin-bottom: 10px;
    font-size: 25px;
}

#forma input{
    width: 80%;
    text-align: center;
    padding: 0.7%;
    background-color:#0000;
    color: #ffff;
    border: none;
    border-bottom: 2px solid #ffff;
}

#submit {
    width: 25%!important;
    border: 1px solid #000!important;
    padding: 0.5%!important;
    margin-bottom: 10px;
    background-color: #ffff!important;
    color: #000!important;
}

.crveno {
    border-bottom: 2px solid red!important;
}


#userRating {
    width: 70%;
    display: flex;
    flex-direction: row;
}

#ocenaKorisnika {
    margin-left: 10%;
    height: 35px;
    width: 40%;
    margin-top: 15%;
}